build/
*.o
*.a
*.dylib
*.so
*.dll
*.in
compile_commands.json
cppcheck.xml
*.pch
*.opk
*.exe
*.d88
*.dirstamp
aclocal.m4
autom4te.cache
compile
config.guess
config.h.in
config.log
config.sub
config.status
configure
install-sh
Makefile.in
missing
stamp-h1
np2kai
np21kai
np21kai_HAXM
xnp2kai
xnp21kai
xnp21kai_HAXM
xnp2kai.1*
xnp21kai.1*

