#include <winver.h>

VS_VERSION_INFO VERSIONINFO
 FILEVERSION    1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK  0x3fL
 FILEFLAGS      0x0L
 FILEOS         VOS_NT
 FILETYPE       VFT_DRV
 FILESUBTYPE    VFT2_DRV_SYSTEM
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041103a4"
        BEGIN
            VALUE "CompanyName",      "\0"
            VALUE "FileDescription",  "Neko Project II ホスト共有ドライブ for Windows NT マウントツール\0"
            VALUE "FileVersion",      "1.0.0.0\0"
            VALUE "InternalName",     "hdrvmnt.exe\0"
            VALUE "OriginalFilename", "hdrvmnt.exe\0"
            VALUE "ProductName",      "Neko Project II Host Drive Mount\0"
            VALUE "ProductVersion",   "1.0.0.0\0"
            VALUE "LegalCopyright",   "ねこさん開発ちーむ\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0411, 932
    END
END