#include <winver.h>

VS_VERSION_INFO VERSIONINFO
 FILEVERSION    1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK  0x3fL
 FILEFLAGS      0x0L
 FILEOS         VOS_NT
 FILETYPE       VFT_DRV
 FILESUBTYPE    VFT2_DRV_SYSTEM
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041103a4"
        BEGIN
            VALUE "CompanyName",      "Neko Project II\0"
            VALUE "FileDescription",  "Neko Project II システムポート コマンド送信ツール\0"
            VALUE "FileVersion",      "1.0.0.0\0"
            VALUE "InternalName",     "npsyscmd.exe\0"
            VALUE "OriginalFilename", "npsyscmd.exe\0"
            VALUE "ProductName",      "Neko Project II System Port Command\0"
            VALUE "ProductVersion",   "1.0.0.0\0"
            VALUE "LegalCopyright",   "ねこさん開発ちーむ\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0411, 932
    END
END